body{
    background-color:#2196f3
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 40px;
    background-color: #1465bb}

    .text{
        text-align: center;
        align-items: center;
    }

    a:link, a:visited {
        background-color: #1465bb;
        color: #003785;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        align-items: center;
        }
        
        a:hover, a:active {
        background-color: #1465bb;
        }

        .container {
            position: relative;
            width: 90%;
            margin: 50px;
            display: flex;
        }
        
        .image {
            display: block;
            width: 200%;
            height: auto;
        }
        
        .container {
            display: flex;
            flex-direction: row;
            background-color: rgba(162, 0, 255, 0);
        }
        
        p{
        color:#003785;
        font-size: 30px;
        }