body{
    background-color:#2196f3
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 40px;
    background-color: #1465bb}

    .text{
        text-align: center;
        align-items: center;
    }
    
    a:link, a:visited {
        background-color: #1465bb;
        color: #003785;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        align-items: center;
        }
        
        a:hover, a:active {
        background-color: #1465bb;
        }
